PetternDecorator\PetternDecorator\bin/
PetternDecorator\PetternDecorator\obj/
PetternDecorator/.vs/PetternDecorator/v16/.suo

PetternDecorator/PetternDecorator/bin/
PetternDecorator/PetternDecorator/obj/
PetternDecorator/.vs/PetternDecorator/DesignTimeBuild/.dtbcache.v2
PetternDecorator/PetternDecorator/.vs/PetternDecorator/v16/.suo
PetternDecorator/PetternDecorator/.vs/PetternDecorator/DesignTimeBuild/.dtbcache.v2
